<!DOCTYPE html>

<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>Spacebrew Draw.</title>

    <link rel="stylesheet" type="text/css" href="../_css/reset.css">
    <link rel="stylesheet" type="text/css" href="../_css/main.css">
    <style type="text/css">
    body {
        margin: 0;
        background: #222;
        min-width: 960px;
    }
    rect {
        fill: none;
        pointer-events: all;
    }
    circle {
        fill: none;
        stroke-width: 2.5px;
    }
    </style>

    <script src="../_js/sb-1.4.1.js"></script>
</head>

<body>
    <div id="mainContent">

        <div id="run"></div>

        <noscript>
            <p>JavaScript is required to view the contents of this page.</p>
        </noscript>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js"></script>
        <script type="text/javascript" language="javascript" src="../_js/d3.v3.js"></script>
        <script type="text/javascript" src="../_js/main.js"></script>
    </div>
</body>

</html>
